## Data Preparation for SQL Import ##

### I. Import pandas package ###

In [1]:
import pandas as pd

### II. Read csv file ###

In [2]:
death = pd.read_csv("covid_vac_data.csv")
death.head()

,iso_code,continent,location,date,new_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,...,total_boosters,new_vaccinations,new_vaccinations_smoothed,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million,new_people_vaccinated_smoothed,new_people_vaccinated_smoothed_per_hundred
0,AFG,Asia,Afghanistan,1/3/20,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,1/4/20,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,1/5/20,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,1/6/20,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,1/7/20,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### III. Data Cleaning ###
1. Fill missing values
2. Check data types

In [3]:
death = death.fillna(0)

In [4]:
death.dtypes

iso_code                                       object
continent                                      object
location                                       object
date                                           object
new_tests                                     float64
total_tests_per_thousand                      float64
new_tests_per_thousand                        float64
new_tests_smoothed                            float64
new_tests_smoothed_per_thousand               float64
positive_rate                                 float64
tests_per_case                                float64
tests_units                                    object
total_vaccinations                            float64
people_vaccinated                             float64
people_fully_vaccinated                       float64
total_boosters                                float64
new_vaccinations                              float64
new_vaccinations_smoothed                     float64
total_vaccinations_per_hundred                float64
people_vaccinated_per_hundred                 float64
people_fully_vaccinated_per_hundred           float64
total_boosters_per_hundred                    float64
new_vaccinations_smoothed_per_million         float64
new_people_vaccinated_smoothed                float64
new_people_vaccinated_smoothed_per_hundred    float64
dtype: object

### IV. Formatting and Writing txt file ###
1. Convert each row into a tuple and append to large list
2. Write txt file with all converted data

In [5]:
# Row conversion to tuples and appending to a single list
ll = []

for i in range(len(death)):
    x = tuple(death.iloc[i])
    ll.append(x)
    
ll[0]

('AFG',
 'Asia',
 'Afghanistan',
 '1/3/20',
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0)

In [19]:
# Writing list of tuples in text file
file = open("covid_death.txt", "w")

for tuple in ll:
    file.write(str(tuple) + "," + "\n")
    
file.close()

## Repeat process for another dataset ##

In [11]:
vaccine = pd.read_csv("covid_death_data.csv")
vaccine.head()

,iso_code,continent,location,date,population,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million,total_tests
0,AFG,Asia,Afghanistan,1/3/20,41128772,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,1/4/20,41128772,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,1/5/20,41128772,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,1/6/20,41128772,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,1/7/20,41128772,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# fill missing values with 0
vaccine = vaccine.fillna(0)

In [13]:
# checking data types of columns
vaccine.dtypes

iso_code                               object
continent                              object
location                               object
date                                   object
population                              int64
new_cases                             float64
new_cases_smoothed                    float64
total_deaths                          float64
new_deaths                            float64
new_deaths_smoothed                   float64
total_cases_per_million               float64
new_cases_per_million                 float64
new_cases_smoothed_per_million        float64
total_deaths_per_million              float64
new_deaths_per_million                float64
new_deaths_smoothed_per_million       float64
reproduction_rate                     float64
icu_patients                          float64
icu_patients_per_million              float64
hosp_patients                         float64
hosp_patients_per_million             float64
weekly_icu_admissions                 float64
weekly_icu_admissions_per_million     float64
weekly_hosp_admissions                float64
weekly_hosp_admissions_per_million    float64
total_tests                           float64
dtype: object

In [14]:
# conversion of date column from object to datetime
vaccine["date"] = pd.to_datetime(vaccine["date"])

In [15]:
# adding a missing column from the original dataset
vaccine["total_cases"] = total_cases["total_cases"]

In [16]:
# drop unnecessary column
vaccine = vaccine.drop("new_deaths_smoothed", axis=1)

In [17]:
# double checking data types
vaccine.dtypes

iso_code                                      object
continent                                     object
location                                      object
date                                  datetime64[ns]
population                                     int64
new_cases                                    float64
new_cases_smoothed                           float64
total_deaths                                 float64
new_deaths                                   float64
total_cases_per_million                      float64
new_cases_per_million                        float64
new_cases_smoothed_per_million               float64
total_deaths_per_million                     float64
new_deaths_per_million                       float64
new_deaths_smoothed_per_million              float64
reproduction_rate                            float64
icu_patients                                 float64
icu_patients_per_million                     float64
hosp_patients                                float64
hosp_patients_per_million                    float64
weekly_icu_admissions                        float64
weekly_icu_admissions_per_million            float64
weekly_hosp_admissions                       float64
weekly_hosp_admissions_per_million           float64
total_tests                                  float64
total_cases                                  float64
dtype: object

In [18]:
# loading all rows of vaccine into list using itertuples
sl = list(vaccine.itertuples(index=False, name=None))
sl[0]

('AFG',
 'Asia',
 'Afghanistan',
 Timestamp('2020-01-03 00:00:00'),
 41128772,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0)

In [37]:
# writing in a text file
file = open("covid_death.txt", "w")

for tuple in sl:
    file.write(str(tuple) + "," + "\n")
    
file.close()

In [36]:
# check all column names
vaccine.columns

Index(['iso_code', 'continent', 'location', 'date', 'population', 'new_cases',
       'total_deaths', 'new_deaths', 'total_cases_per_million',
       'new_cases_per_million', 'total_deaths_per_million',
       'new_deaths_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'total_cases'],
      dtype='object')

In [7]:
# adding missing column as a separate text file to load into existing datasets
total_cases = pd.read_csv('total_cases.csv')
total_cases

       iso_code  total_cases
0           AFG          NaN
1           AFG          NaN
2           AFG          NaN
3           AFG          NaN
4           AFG          NaN
...         ...          ...
325561      ZWE     265604.0
325562      ZWE     265604.0
325563      ZWE     265604.0
325564      ZWE     265604.0
325565      ZWE     265604.0

[325566 rows x 2 columns]

In [10]:
# fill missing numbers
total_cases = total_cases.fillna(0)
total_cases.head()

  iso_code  total_cases
0      AFG          0.0
1      AFG          0.0
2      AFG          0.0
3      AFG          0.0
4      AFG          0.0

In [9]:
# load into list
cl = list(total_cases["total_cases"])
cl[0]

0.0

In [19]:
# write list in text file
file = open("total_cases.txt", "w")

for i in cl:
    file.write("(" + str(i) + ")" + "," + "\n")

file.close()